body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
	/* toe te voegen */
} 
#backgroundthing {
	background-image: url(bar1.png);
	margin-bottom: -10px;
	margin-left: -10px;
	margin-top: -10px;
	margin-right: -10px;
	height: 25px;
}
#he:hover #thingbackground {
	display: block;
}
#thingbackground {
	background-image: url(bar2.png);
}
#backgroundthing:hover {
		background-image: url(bar2.png);
}
a:hover {
	color:black;
	text-decoration: none;
}
a {
	color: gray;
	font-weight: 700;
	padding-right: 35px;
	text-decoration: none;
}
#he {
	padding-right: 4px;
	padding-left: 4px;
	color: white;
} 
aside {
	height: 300px;
	width: 700px;
	opacity: 0.3;
	background-color: white;
	position: relative;
	top: 300px;
}
article {
	position: absolute;
	width: 680px;
	padding-left: 10px;
	padding right: 20px;
	padding-top: 0;
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	background-image : url(bg.jpg);
	border : 4px solid red;

}

#hammer {
	left: 820px;
	top:40px;
	position: absolute;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#hammer:hover {
	 -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
     transform: rotate(-3deg);
}
#pincers {
	position: absolute;
	left: 885px;
	top: 310px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#pincers:hover {
	 -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
     transform: rotate(-3deg);
}
#saw {
	position: absolute;	
	left: 280px;
	top: 190px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#saw:hover {
	 -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
     transform: rotate(-3deg);
}
#title {
	position: absolute;
	top: 60px;
	left: 345px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#title:hover {
	 -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
     transform: rotate(-3deg);
}
#screwdriver {
	position: absolute;
	left: 870px;
	top: 220px;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#screwdriver:hover {
	 -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
     transform: rotate(-3deg);
}

#toolbox {
	right: 545px;
	position: absolute;
	top:265px;
}
#contentimg ul {
	position:absolute;
	z-index: 10;
	top: 95px;
	right: 80px;
}
#contentimg ul li{
	background-color: white;
	display: none;
	border: 0.5px solid black;
	width: 160px;
	padding: 5px;
}
#contentimg li:hover {
	background-color: #ffff66;
}
#toolbox:hover #contentimg ul li{
	display: block;
}
#humanfactor{
	color: blue;
}
#factorhuman {
	color: black;
	background-color: white;
	position: absolute;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	padding: 5px;
	width: 220px;
	height: 55px;
	display: none;
}
#humanfactor:hover #factorhuman {
	display: block;
}


